/* FormulaireTelephone.css */

.container-formulaire-creer-annonce {
   
  }
  
 .container-formulaire-creer-annonce h1 {
    text-align: center;
    color: #007BFF;
  }
  .container-formulaire-creer-annonce-2 h1 {
    text-align: center;
    color: #007BFF;
  }
  .container-formulaire-creer-annonce-2 h1 {
    text-align: center;
    color: #007BFF;
  }
  
 .container-formulaire-creer-annonce form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
  }
  .container-formulaire-creer-annonce-2 form {
    flex-direction: column;
    max-width: 300px;
    margin: auto;
  }
  .container-formulaire-creer-annonce-3 {
    margin-top:10px ;
    flex-direction: column;
    margin: 3%;
  }
 .container-formulaire-creer-annonce .form-group {
    margin-bottom: 20px;
  }
  
 .container-formulaire-creer-annonce label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
 .container-formulaire-creer-annonce input,
  textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }
  
 .container-formulaire-creer-annonce textarea {
    resize: vertical;
  }
  
 .container-formulaire-creer-annonce button {
    background-color: #007BFF;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 .container-formulaire-creer-annonce button:hover {
    background-color: #0056b3;
  }

  .container-formulaire-creer-annonce .btn-next {
    float: right;
  }
  .container-formulaire-creer-annonce-2 .btn-prev {
    float: left;
  }
  .container-formulaire-creer-annonce-2 .btn-next {
    float: right;
  }
  .container-formulaire-creer-annonce-3 .btn-prev {
    float: left;
  }
  .container-formulaire-creer-annonce-3 .btn-next {
    float: right;
  }
  .container-formulaire-creer-annonce-3 .container-list-element-annonce{
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
 